{% extends "formlayout.html" %}
{% block body %}

<div style="text-align: center;" class="my-5">
    <h5>{{chap.chapno}} অধ্যায়ঃ- {{chap.chapname}}</h5>
   
</div>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <hr>
                

                <div style="text-align: center;" class="my-5">
                    <h4>শ্লোকঃ {{slok.slksnobn}}</h4>
                    <b>
                        <p>{{slok.slok}}</p>
                    </b>
                    <p>{{slok.anubad}}</p>
                    <p>{{slok.tatporjo}}</p>
                </div>

                <hr>
                



            </div>
        </div>
    </div>
</main>
{% endblock %}